#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('user_groups')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('list')
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th= t('name')
                %tbody
                - @user_groups.each do |user_group|
                  %tr
                    %td= user_group.id
                    %td= user_group.name
                    %td= link_to t('show'), admin_user_group_path(user_group), class: 'btn btn-primary btn-xs'
                    %td= link_to t('edit'), edit_admin_user_group_path(user_group), class: 'btn btn-warning btn-xs'
                    %td= link_to t('destroy'), admin_user_group_path(user_group), method: :delete, data: { confirm: t('user_group_delete_confirmation') }, class: 'btn btn-danger btn-xs' unless user_group.id == 1
            .row
              .col-sm-6
                = will_paginate @user_groups, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
