#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('user_groups')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('user_group_posts', user_group: @user_group.first.group.name)
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th= t('gravatar')
                    %th= t('username')
                    %th= t('email')
                %tbody
                - @user_group.each do |user|
                  %tr
                    %td= user.id
                    %td= gravatar_for(user, size: 20)
                    %td= user.username
                    %td= user.email
                    %td= link_to t('show'), admin_user_path(user), class: 'btn btn-primary btn-xs'
            .row
              .col-sm-6
                = will_paginate @user_group, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
