#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= page_header
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Tasks with #{@task_status.first.status.name} status
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th Name
                    %th Progress
                    %th Priority
                    %th Author
                %tbody
                - @task_status.each do |task|
                  %tr
                    %td= task.id
                    %td= truncate(task.name, length: 60)
                    %td
                      .progress.progress-striped
                        .progress-bar.progress-bar-success{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => "#{task.progress}", :role => 'progressbar', :style => "width: #{task.progress}%"}
                          %span.sr-only #{task.progress}% Complete (success)
                    %td= task.priority.name
                    %td= task.author.username
                    %td= link_to 'Show', admin_task_path(task), class: 'btn btn-primary btn-xs'
            .row
              .col-sm-6
                = will_paginate @task_status, renderer: BootstrapPagination::Rails, previous_label: 'Previous', next_label: 'Next', inner_window: 2
