#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('task_priority_types')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('list')
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th= t('name')
                %tbody
                - @task_priority_types.each do |task_priority_type|
                  %tr
                    %td= task_priority_type.id
                    %td= task_priority_type.name
                    %td= link_to t('show'), admin_task_priority_type_path(task_priority_type), class: 'btn btn-primary btn-xs'
                    %td= link_to t('edit'), edit_admin_task_priority_type_path(task_priority_type), class: 'btn btn-warning btn-xs'
                    %td= link_to t('destroy'), admin_task_priority_type_path(task_priority_type), method: :delete, data: { confirm: t('task_priority_type_delete_confirmation') }, class: 'btn btn-danger btn-xs'
            .row
              .col-sm-6
                = will_paginate @task_priority_types, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
