#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('post_categories')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('list')
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th= t('name')
                %tbody
                - @post_categories.each do |post_category|
                  %tr
                    %td= post_category.id
                    %td= post_category.name
                    %td= link_to t('show'), admin_post_category_path(post_category), class: 'btn btn-primary btn-xs'
                    %td= link_to t('edit'), edit_admin_post_category_path(post_category), class: 'btn btn-warning btn-xs'
                    %td= link_to t('destroy'), admin_post_category_path(post_category), method: :delete, data: { confirm: t('post_category_delete_confirmation') }, class: 'btn btn-danger btn-xs'
            .row
              .col-sm-6
                = will_paginate @post_categories, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
