#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('post_categories')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('post_category_posts', post_category: @post_category.first.category.name)
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th= t('title')
                    %th= t('published')
                    %th= t('author')
                %tbody
                - @post_category.each do |post|
                  %tr
                    %td= post.id
                    %td= truncate(post.title, length: 60)
                    %td= post.published? ? t('yes') : t('no')
                    %td= post.author.username
                    %td= link_to t('show'), admin_post_path(post), class: 'btn btn-primary btn-xs'
            .row
              .col-sm-6
                = will_paginate @post_category, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
