#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('posts')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            #{@post.title}
          .panel-body
            .row
              .col-md-12
                .table-responsive
                  #dataTables-example_wrapper.dataTables_wrapper.form-inline{ role: 'grid' }
                    %table#dataTables-example.table.table-striped.table-bordered.table-hover.dataTable.no-footer{ 'aria-describedby' => 'dataTables-example_info' }
                      %tbody
                        %tr
                          %td #{t('published')}:
                          %td= @post.published? ? t('yes') : t('no')
                          %td #{t('author')}:
                          %td= link_to @post.author.username, admin_user_path(@post.author)
                        %tr
                          %td #{t('category')}:
                          %td= @post.category.name
                          %td #{t('created_at')}:
                          %td= @post.created_at.strftime('%Y/%m/%d')
            .row
              .col-md-12
                .well
                  .wmd-output><
                    :preserve
                      #{@post.body}
            .row
              .col-md-12{ style: 'margin-top: 15px;' }
                .btn-group.btn-group-justified{ 'aria-label' => '...', role: 'group' }
                  .btn-group{ role: 'group' }
                    = link_to :back, class: 'btn btn-warning' do
                      %i.fa.fa-arrow-left
                      = t('back')
                  .btn-group{ role: 'group' }
                    = link_to edit_admin_post_path(@post), class: 'btn btn-primary' do
                      %i.fa.fa-edit
                      = t('edit')
                  .btn-group{ role: 'group' }
                    = link_to admin_post_path(@post), method: :delete, data: { confirm: t('delete_confirmation') }, class: 'btn btn-danger' do
                      %i.fa.fa-pencil
                      = t('destroy')
