#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('users')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('list')
          .panel-body
            .row
              .col-md-12
                #dataTables-example_filter.dataTables_filter
                  = simple_form_for :user, url: admin_users_path, html: { method: :get, class: 'form-inline' } do |f|
                    = f.input :search, label: false, placeholder: t('user_search_placeholder'), input_html: { size: 40 }
                    = f.button :submit, t('search')
            %br
            .row
              .table-responsive
                %table.table.table-striped
                  %thead
                    %tr
                      %th #
                      %th= t('gravatar')
                      %th= t('username')
                      %th= t('email')
                      %th= t('registered')
                      %th= t('admin')
                  %tbody
                  - @users.each do |user|
                    %tr
                      %td= user.id
                      %td= gravatar_for(user, size: 20)
                      %td= user.username
                      %td= user.email
                      %td= user.created_at.strftime('%Y/%m/%d %H:%M:%S')
                      %td= user.admin? ? t('yes') : t('no')
                      %td= link_to t('show'), admin_user_path(user), class: 'btn btn-primary btn-xs'
                      %td= link_to t('edit'), edit_admin_user_path(user), class: 'btn btn-warning btn-xs'
                      %td= link_to t('destroy'), admin_user_path(user), method: :delete, data: { confirm: t('user_delete_confirmation') }, class: 'btn btn-danger btn-xs'
            .row
              .col-sm-6
                = will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: t('previous_page'), next_label: t('next_page'), inner_window: 2
