#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Users
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Users list
          .panel-body
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th #
                    %th Gravatar
                    %th Username
                    %th E-mail
                    %th Registered
                    %th Admin
                %tbody
                - @users.each do |user|
                  %tr
                    %td= user.id
                    %td= gravatar_for(user, size: 20)
                    %td= user.username
                    %td= user.email
                    %td= user.created_at.strftime('%Y/%m/%d %H:%M:%S')
                    %td= user.admin? ? 'Yes' : 'No'
                    %td= link_to 'Show', admin_user_path(user), class: 'btn btn-primary btn-xs'
                    %td= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-warning btn-xs'
                    %td= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure? This action will delete all tasks assigned to this user!' }, class: 'btn btn-danger btn-xs'
            .row
              .col-sm-6
                = will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: 'Previous', next_label: 'Next', inner_window: 2
