#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Users
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Basic data about the user
          .panel-body
            .row
              .col-md-9
                %h3 #{@user.username}
                .table-responsive
                  #dataTables-example_wrapper.dataTables_wrapper.form-inline{:role => 'grid'}
                    %table#dataTables-example.table.table-striped.table-bordered.table-hover.dataTable.no-footer{'aria-describedby' => 'dataTables-example_info'}
                      %tbody
                        %tr
                          %td E-mail:
                          %td= @user.email
                        %tr
                          %td Group:
                          %td= @user.user_group.name
                        %tr
                          %td Sign in count:
                          %td= @user.sign_in_count
                        %tr
                          %td Last sign in:
                          %td= @user.last_sign_in_at.try(:strftime, '%Y/%m/%d %H:%M:%S')
                        %tr
                          %td Current IP:
                          %td= @user.current_sign_in_ip
                        %tr
                          %td Last IP:
                          %td= @user.last_sign_in_ip
                        %tr
                          %td Registered:
                          %td= @user.created_at.strftime('%Y/%m/%d %H:%M:%S')
                        %tr
                          %td Admin:
                          %td= @user.admin? ? 'Yes' : 'No'
              .col-md-3
                %h3 Gravatar
                = gravatar_for(@user)
